body {
    font-family: Arial;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: orange;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer
}