<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="../assets/css/passwd_forget.css">
    <link rel="shortcut icon"  type= "image/png" href="../assets/Picture/Favicone.png">
    
</head>

<body>
   
   <a id="back-WOOD" href="../assets/Picture/WOOD-WOW.jpg">  </a>



    <div class="Forget_passwd">

          <img
        id="logo"
        src="../assets/Picture/Wow-icone.png" />
        
         <h2>Forget Password</h2>

        <form class="Forget_passwd">
            <label for="email">Adresse email</label>
            <input type="email" id="email" placeholder="exemple@mail.com" required>

            <button type="submit" id="passwd_button">Envoyer requête</button>

            <p class="return-link">
                Pas encore inscrit ? <a href="Login.html" id="reurn_acc">Retourner a la Connexion</a>
            </p>

        </form>
    </div>




    

</body>

</html>
