<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<header>
    <h1>Forum WoW</h1>
</header>

<nav>
    <button id="homeButton" class="Accueil-button" type="button">Accueil</button>
    <button id="NewDiscussionButton" class="Nouvelle-discussion-button" type="button">Nouvelle discussion</button>
    <button id="profileButton" class="Profil-button" type="button">Profil</button>
</nav>

<main>
    <h2>Discussions récentes</h2>

    {{range .}}
        <div class="post">
            <h3>
                <a href="/discussion?id={{.ID}}">
                    {{.Title}}
                </a>
            </h3>
            <p>{{.Content}}</p>
        </div>
    {{end}}
</main>

<script src="/src/js/button.js"></script>
</body>
</html>