<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="shortcut icon"  type="image/png" href="/assets/Picture/Favicone.png">
    
</head>

<body>
   
   <a id="back-LK" href="/assets/Picture/LK-WOW.jpg">  </a>



    <div class="login-container">

          <img
        id="logo"
        src="/assets/Picture/Wow-icone.png" />
        
         <h2>Connexion</h2>

        <form class="login-form" action="/auth/login" method="post">
            {{with .Error}}
            <div class="form-error">{{.}}</div>
            {{end}}
            {{with .Message}}
            <div class="form-success">{{.}}</div>
            {{end}}

            <label for="email">Adresse email</label>
            <input type="email" id="email" name="email" placeholder="exemple@mail.com" required>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>

            <button type="submit" id="login-button">Se connecter</button>

            <a href="/forgot" id="Forget_passwd">Mot de passe oublié ?</a>

            <p class="register-link">
                Pas encore inscrit ? <a href="/register" id="register_acc">Créer un compte</a>
            </p>
        </form>
    </div>




    

</body>

</html>
